@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bodoni-72';
  src: url('../public/fonts/bodoni-72-book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Cabin';
  src: url('../public/fonts/Cabin-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Cabin';
  src: url('../public/fonts/Cabin-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair-Display';
  src: url('../public/fonts/PlayfairDisplay-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Playfair-Display';
  src: url('../public/fonts/PlayfairDisplay-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

.font-bodoni {
  font-family: Bodoni-72;
}

.font-cabin {
  font-family: Cabin;
}

.font-playfair-display {
  font-family: Playfair-Display;
}

.font-poppins {
  font-family: Poppins;
}

.container-display-one {
  background-image: url('./Assets/Img/Banner-Two.png');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-top: 90px;
}

.padding-display-one {
  padding-top: 15px;
}

.container-display-two {
  height: 250px;
}

.bg-display-three-one {
  background-image: url('./Assets/Img/Display-Three-Bg-One.jpeg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-display-three-two {
  background-image: url('./Assets/Img/Display-Three-Bg-Two.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-display-three-three {
  background-image: url('./Assets/Img/Display-Three-Bg-Three.jpeg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-display-five {
  background-image: url('./Assets/Img/Display-Five-Product-One.jpeg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.pic-display-five {
  width: 155px;
}

.bg-display-six-one {
  background-image: url('./Assets/Img/Display-Six-One.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-display-six-two {
  background-image: url('./Assets/Img/Display-Six-Two.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-display-six-three {
  background-image: url('./Assets/Img/Display-Six-Three.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-display-six-four {
  background-image: url('./Assets/Img/Display-Six-Four.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 375px) {
  .container-display-one {
    margin-top: 60px;
  }

  .padding-display-one {
    padding-top: 40px;
  }

  .container-display-two {
    height: 150px;
  }

  .pic-display-five {
    width: 180px;
  }
}

@media only screen and (min-width: 425px) {
  .container-display-one {
    height: 280px;
  }

  .padding-display-one {
    padding-top: 70px;
  }

  .pic-display-five {
    width: 210px;
  }
}

@media only screen and (min-width: 768px) {
  .container-display-one {
    background-image: url('./Assets/Img/Banner-One.png');
  }

  .padding-display-one {
    padding-top: 0px;
  }

  .pic-display-five {
    width: 180px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-display-one {
    height: 400px;
  }

  .bg-display-three-one,
  .bg-display-three-three {
    height: 390px;
  }
}

@media only screen and (min-width: 1044px) {
  .container-display-one {
    height: 516px;
  }
}

@media only screen and (min-width: 2560px) {
  .container-display-one {
    height: 950px;
  }
}
