@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bodoni-72';
  src: url('../public/fonts/bodoni-72-book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Cabin';
  src: url('../public/fonts/Cabin-Regular.ttf');
  font-weight: 400;
}

.font-bodoni {
  font-family: Bodoni-72;
}

.font-cabin {
  font-family: Cabin;
}
